

.backAdd{
   padding: 20px;
<<<<<<< HEAD
   /* margin: 200px; */
   /* margin-top:  5%;
   margin-left: 30%; */
   margin: 50px auto;
   border-radius: 30%;
=======
   margin: 130px auto;
>>>>>>> tpload naada 28-10 3:46
   border: 1px solid black ;
   width: 30%;
   
}
h4{
    color: darkgreen;
}
.btn{
    margin-top: 10px;
}
